@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDFCFB;
    --foreground: #1b1b1b;
  }
}
.primary-bg-color{
  background-color: #6d28d9;
  border: 1px solid #b78aff;
}
.primary-bg-hover:hover{
  background-color: #733af7;
}
.primary-color{
  color: #6d28d9;
}
.para-color{
  color: #5a5a5a;
}
.secondary-color{
  color: #FF9900;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
.Active-Link::after{
  content: '';
  position: absolute;
  bottom: -6;
  left: 0;
  background-color: #6d28d9;
  height: 3px;
  border-radius: 50px;
  animation: AfterAnimation 0.3s ease-in-out forwards;
}

@keyframes AfterAnimation{
  from{
    width: 0px;
  }to{
    width: 100%;
  }
}

.Float-Animation {
  animation: Float 6s ease-in-out infinite;
  /* animation-delay: 0.5s; أو يمكنك إضافتها مباشرة هنا بدلًا من الـ inline style */
}

@keyframes Float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

